@charset "UTF-8";

body {
    margin: 0;
}

header {
    padding: 25px 15px;
    background-color: #FCF7E4;
}
#home {
    background-image: url(images/main.jpeg);
    min-height: 100vh;
}
.main-content {
    text-align: center;
    margin-top:  10%;
    color: whitesmoke;
}

div {
    padding: 40px 15px;
    background-color: #eeeae4;
}

.sub_banner {
    width: 100%;
    margin-top: 5em;
    padding: 0 5% 10% 5%;
}
.clearfix ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-rows: 200px 300px;
    list-style: none;
}
li {
padding: 10px;
}

footer {
    padding: 25px 15px;
    background-color: #FCF7E4;
}